@page
@model Task5.Pages.GamePageModel
@{
}

<h1 class="display-4 view-center">Game: @ViewData["NameCreator"] vs</h1><h1 class="display-4 view-center" id="status"></h1>


<input type="hidden" id="NameCreator" value="@ViewData["NameCreator"]" />
<input type="hidden" id="Youname" value="@ViewData["Youname"]" />
<input type="hidden" id="GameId" value="@ViewData["GameId"]" />
<input type="hidden" id="CountsOfStep" value="@ViewData["CountOfSteps"]" />

<table id="ButtonsTable" class="table">
    <tr>
        @for (int i = 0; i < (int)@ViewData["CountOfSteps"]; i++)
        {
            <td>  <Button type="submit" id="@Model.List[i]" value="@Model.List[i]" class="game-button">@Model.List[i]</Button></td>
        }
    </tr>
</table>
<div id="ChoiseDone" class="view-center" >Выбор сделан ожидайте второго игрока</div>

<h1 class="display-4 view-center" id="Win"></h1>

<form id="Close" action="" method="post">
    <Button type="submit" asp-route-id="@ViewData["GameId"]" class="game-button view-center">Уйти</Button>
 </form>

    <script src="js/signalr/dist/browser/signalr.min.js"></script>
    <script>
        const hubConnection = new signalR.HubConnectionBuilder().withUrl("/hubs").build();

        document.getElementById("ChoiseDone").hidden = true;
        document.getElementById("Close").hidden = true;

        hubConnection.on(document.getElementById("GameId").value, function (message) {
            document.getElementById("status").innerText = String(message);
            document.getElementById("status").value = String(message);
        });

        hubConnection.on(document.getElementById("GameId").value + 'Result', function (message) {
            document.getElementById("Win").innerText = String(message);
            document.getElementById("ChoiseDone").hidden = true;
            document.getElementById("Close").hidden = false;
        });

        document.addEventListener("click", function (e) {
            let button = e.target.value;
            if (document.getElementById("NameCreator").value == document.getElementById("Youname").value) {
                hubConnection.invoke('Step', document.getElementById(button).value, "Creator", document.getElementById("GameId").value, document.getElementById("CountsOfStep").value, document.getElementById("NameCreator").value, document.getElementById("status").value);
            }
            else {
                hubConnection.invoke('Step', document.getElementById(button).value, "Connection", document.getElementById("GameId").value, document.getElementById("CountsOfStep").value, document.getElementById("NameCreator").value, document.getElementById("Youname").value);
            }
            document.getElementById("ButtonsTable").hidden = true;
            document.getElementById("ChoiseDone").hidden = false;
        });

        hubConnection.start().then(() => {
            var NameCreator = document.getElementById("NameCreator").value;
            var Youname = document.getElementById("Youname").value;
            hubConnection.invoke('ConnectedName', Youname, NameCreator, document.getElementById("GameId").value).catch(function (err) {

                return console.error(err.toString());
            });
        });

    </script>
